<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.3.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.1.1-ci795" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.1.1-ci795" targetFramework="net48" />
  <package id="MaterialDesignThemes.MahApps" version="3.1.1-ci795" targetFramework="net48" />
  <package id="MaterialDesignThemes.Wpf" version="1.0.1" targetFramework="net48" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net48" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="27.1.56" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="27.1.56" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialLight.WPF" version="27.1.56" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.6.0-preview3.19128.7" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.0-rc.2.24473.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>